.container {
  width: 1400px;
  height: 1000px;
  background-color: lightgray;
  position: relative;
}

.container img {
  width: 420px;
  height: 300px;
  position: absolute;
  cursor: pointer;
  top: 300px;
  transform: skewY(30deg);
  transition-duration: 1s;
}

.container img:hover {
  z-index: 3;
  transform: scale(0.9) skewY(0deg);
  transition-duration: 1s;
}

.container [alt='beach1'] {
  z-index: 2;
  left: 300px;
}

.container [alt='beach2'] {
  left: 500px;
  z-index: 1;
}

.container [alt='beach3'] {
  left: 700px;
}
